* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

h2 {
  margin-top: 20px;
}

#form {
  background-color: beige;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
}

button {
  width: 30%;
  align-self: center;
}

#weathercontainer {
  background-color: red;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.days {
  background-color: azure;
  display: flex;
  gap: 10px;
  padding: 10px;
}

.days > div {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  padding: 10px;
}
