* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

h2 {
  margin-top: 20px;
}

form {
  background-color: beige;
  padding: 20px 10px;
}
